<!DOCTYPE html>
<html>
<head>
  <title>TestChat</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
      <%= render 'layouts/header'%>
      <div class="content round">
        <% flash.each do |key, value| %>
          <div class="mandatory <%= key %> "><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer'%>
      <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
